{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Відвідування{% endblock meta_title %}

{% block title %}Відвідування{% endblock title %}

{% block content %}

<p class="text-center">
    <a href="#">&larr;</a>
    <strong> {{ month }} {{ year }} Жовтень 2018</strong>
    <a href="#">&rarr;</a>
</p>

{{ range }}

{% for mont in range %}
    lolo
{% endfor %}

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th><strong>#</strong></th>
            <th><strong>Студент</strong></th>
            <th><strong>Ср 1</strong></th>
            <th><strong>Чт 2</strong></th>
            <th><strong>Пт 3</strong></th>
            <th><strong>Сб 4</strong></th>
            <th><strong>Вс 5</strong></th>
            <th><strong>Пн 6</strong></th>
            <th><strong>Вт 7</strong></th>
            <th><strong>Ср 8</strong></th>
            <th><strong>Чт 9</strong></th>
            <th><strong>Пт 10</strong></th>
            <th><strong>Сб 11</strong></th>
            <th><strong>Вс 12</strong></th>
            <th><strong>Пн 13</strong></th>
            <th><strong>Вт 14</strong></th>
            <th><strong>Ср 15</strong></th>
            <th><strong>Чт 16</strong></th>
            <th><strong>Пт 17</strong></th>
            <th><strong>Сб 18</strong></th>
            <th><strong>Вс 19</strong></th>
            <th><strong>Пн 20</strong></th>
            <th><strong>Вт 21</strong></th>
            <th><strong>Ср 22</strong></th>
            <th><strong>Чт 23</strong></th>
            <th><strong>Пт 24</strong></th>
            <th><strong>Сб 25</strong></th>
            <th><strong>Вс 26</strong></th>
            <th><strong>Пн 27</strong></th>
            <th><strong>Вт 28</strong></th>
            <th><strong>Ср 29</strong></th>
            <th><strong>Чт 30</strong></th>
            <th><strong>Пт 31</strong></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td><a href="#" title="Редагувати">Віталій Подоба</a></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
        </tr>

        <tr>
            <td>2</td>
            <td><a href="#" title="Редагувати">Корост Андрій</a></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
        </tr>

        <tr>
            <td>3</td>
            <td><a href="#" title="Редагувати">Притула Тарас</a></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
        </tr>
    </tbody>
</table>

<nav>
    <ul class="pagination">
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">Далі</a></li>
    </ul>
</nav>
{% endblock content %}
